%% -*- erlang -*-
{erl_opts, [ 
%{i, "deps/amqp_client/include"},  
debug_info]}.
{deps, [
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.1"}}},
    {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", {tag, "rabbitmq-2.8.1"}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}}
      ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
